version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
  - package-ecosystem: "gradle"
    directory: "/"
    target-branch: "feature-1"
    schedule:
      interval: "weekly"
      day: "sunday"
